<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
    <link rel="stylesheet" href="style.css">
</head>
<body class="bg-[#EEE0C9]">
    <div class="grid grid-cols-2 gap-0 mt-36 ml-52 mr-52">
        <div class="col-span-1">
            <img src="resources/notebook.jpg" class="h-[700px] w-[600px]" alt="">
        </div>

        <div class="col-span-1">
            <form action="/publish" method="post" class=" h-[700px] w-[600px] ">
                <textarea name="content" class="border bg-[#F1F0E8] w-[600px] h-[650px] p-3 border-none outline-none" placeholder="Let it all out... "></textarea>
                <a href="/publishpage"><button class="text-white text-lg mt-0 bg-[#96B6C5] hover:bg-[#8bc0d8] text-center px-5 py-2 w-[600px] h-[44px]">Publish</button></a>

            </form>
            

        </div>

    </div>
</body>
</html>

    


    
    