<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BlogIt</title>
    <link rel="stylesheet" href="style.css">
</head>
<body class="bg-[#EEE0C9]">
    <div class="ml-80">
        <div><a href="/index"><button class="text-white text-lg mt-8 ml-16 bg-[#96B6C5] hover:bg-[#8bc0d8] text-center px-5 py-2 w-[750px] h-[44px]">Write your own blog</button></a></div>
        <div class="ml-16 mr-16 mt-8 w-[750px] border border-black p-4 ">
            <ul>
                <% data.forEach(item => { %>
                    <li><p class="font-bold text-[#64bae3] text-lg mb-4"><%= item.username %> says...</p></li>
                    <li><p class="mb-6 text-justify "><%= item.blog %></p></li>
                    <hr>

                <% }); %>
            </ul>
        </div>
    </div>
</body>
</html>